= navbar_item "/vol2/editors-note" do
  .article-title Editor's Note
  %em by Viktoriya Fuzaylova

%li
  .midline
    .midline-line.left
    %h3.navbar-text.text-uppercase{style: "margin: 0"} Articles

= navbar_item "/vol2/from-bad-to-better" do
  .article-title
    From Bad to Better
    %br
    %small
      Larp Design Lessons from 10 Bad LARPs
  %em by Nat Budin

= navbar_item "/vol2/collaboratively-written-characters" do
  .article-title
    Collaboratively Written Characters and Their Role in Creating a Successful Larp
  %em by Aliaksandra Franskevich

= navbar_item "/vol2/chekovs-crew" do
  .article-title
    Chekov’s Crew
    %br
    %small
      The use of adjunct crew in theatre-style larps
  %em by Stephanie Pegg

= navbar_item "/vol2/constructing-truth-in-larp-writing" do
  .article-title
    Constructing Truth in LARP Writing
  %em by Xavid

= navbar_item "/vol2/no-battle-plan" do
  .article-title
    No Battle Plan Survives Contact With the Enemy
    %br
    %small
      The Tension Between Narrative Structure and Player Autonomy in Larp
  %em by Phoebe Roberts

= navbar_item "/vol2/peaky-midwest" do
  .article-title
    Peaky Midwest
    %br
    %small
      Running a Weekend LARP Writing Workshop
  %em by Eva Schiffer

%li
  .midline
    .midline-line.left
    %h3.navbar-text.text-uppercase{style: "margin: 0"} Larps

= navbar_item "/vol2/rules-as-written" do
  .article-title
    Rules as Written
  %em by Ben Klug

= navbar_item "/vol2/consensus-rpg" do
  .article-title
    Consensus RPG
  %em by Thorin Tabor

= navbar_item "/vol2/now-listen-young-lady" do
  .article-title
    Now Listen Young Lady!
  %em by Susanne Vejdemo

= navbar_item "/vol2/the-asylum-game" do
  .article-title
    The Asylum Game
  %em by Susanne Vejdemo
%hr

= navbar_item "Return to Game Wrap site", "/"
