= navbar_item "/vol1/editors-note" do
  .article-title Editor's Note
  %em by Viktoriya Fuzaylova

%li
  .midline
    .midline-line.left
    %h3.navbar-text.text-uppercase{style: "margin: 0"} Articles

= navbar_item "/vol1/designing-a-larp-for-educational-purposes" do
  .article-title
    Designing a Larp for Educational Purposes
    %br
    %small
      Learning Process and Communication in
      %em Graveyard of the Sacrifice
  %em by Muriel Algayres

= navbar_item "/vol1/help-seeking-behavior" do
  .article-title
    Help-seeking Behavior, Goal-Orientation and GNS Theory in Interactive Literature
  %em by Cameron Betts

= navbar_item "/vol1/writing-process-written-product" do
  .article-title
    Writing Process, Written Product
    %br
    %small Outside-In vs. Inside-Out Larp Design
  %em by Nat Budin

= navbar_item "/vol1/beyond-birdseed" do
  .article-title
    Beyond Birdseed
    %br
    %small Bringing Immersion to Non-Combat Modules
  %em by Kat Davis

= navbar_item "/vol1/running-out-of-the-box" do
  .article-title
    Running Out of the Box
    %br
    %small How to Produce a Pre-Written Theatre-Style Larp
  %em by Malcolm Harbrow

= navbar_item "/vol1/communities-in-larp" do
  .article-title
    Communities In Larp
  %em by Rachel Judd

= navbar_item "/vol1/a-time-to-not-kill" do
  .article-title
    A Time to (Not) Kill
    %br
    %small An Examination of the Institution of “Kill Moratoriums,” Their Use, and Alternatives in the Craft of LARP
  %em by Matthew Kamm

= navbar_item "/vol1/secrecy-in-intercon-style-larp" do
  .article-title
    Secrecy in Intercon-Style LARP
  %em by Brian Richburg

= navbar_item "/vol1/smile-and-smile-and-be-a-villain" do
  .article-title
    Smile and Smile and Be a Villain
    %br
    %small Supporting the Narrative Function of Villain Roles in Larp
  %em by Phoebe Roberts

= navbar_item "/vol1/the-cowardice-of-your-convictions" do
  .article-title
    The Cowardice of Your Convictions
  %em by Warren Tusk

= navbar_item "/vol1/harnessing-the-glowing-rectangle" do
  .article-title
    Harnessing the Glowing Rectangle
    %br
    %small Using Mobile and Computer Technology in LARP Play
  %em by Matthew Webb

= navbar_item "/vol1/communicating-through-questionnaires" do
  .article-title
    Communicating Through Questionnaires
  %em by Robert Wensley

%li
  .midline
    .midline-line.left
    %h3.navbar-text.text-uppercase{style: "margin: 0"} Larps

= navbar_item "/vol1/mytharc" do
  .article-title
    Mytharc
    %br
    %small A Narrative-Focused LARP Methodology
  %em by Caroline Murphy

= navbar_item "/vol1/graveyard-of-the-sacrifice" do
  .article-title
    Graveyard of the Sacrifice
    %br
    %small An Edu-Larp About WWII
  %em by Muriel Algayres