= navbar_item "/vol3/editors-note" do
  .article-title Editor's Note
  %em by Viktoriya Fuzaylova

%li
  .midline
    .midline-line.left
    %h3.navbar-text.text-uppercase{style: "margin: 0"} Articles

= navbar_item "/vol3/a-touching-taxonomy" do
  .article-title
    A Touching Taxonomy
  %em by Cameron Betts

= navbar_item "/vol3/our-earlier-works-are-problematic" do
  .article-title
    Our Earlier Works Are Problematic
  %em by Nat Budin &amp; Phoebe Roberts

= navbar_item "/vol3/on-the-same-page" do
  .article-title
    On the Same Page
    %br
    %small
      A GM’s Guide to Creating Successful Relationship Plots
  %em by Andrea Humez

= navbar_item "/vol3/gender-swap" do
  .article-title
    A Software Approach to Flexibly and Concretely Gendered Characters
  %em by Eva Schiffer

= navbar_item "/vol3/the-croatian-larp-scene" do
  .article-title
    The Croatian Larp Scene
  %em by Ivan Žalac

%li
  .midline
    .midline-line.left
    %h3.navbar-text.text-uppercase{style: "margin: 0"} Larps

= navbar_item "/vol3/arrival-at-tau-ceti" do
  .article-title
    Arrival at Tau Ceti
  %em by Ivan Žalac

= navbar_item "/vol3/unit-test" do
  .article-title
    Unit Test
  %em by Eva Schiffer
