!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"}
    %title= [current_page.data.title, "Game Wrap"].compact.join(" - ")
    = stylesheet_link_tag "all"
    = javascript_include_tag "/frontend"

  %body{class: page_classes}
    .jumbotron.hidden-xs
      %h1#header
        .fittext.logo-text
          Game Wrap

    %nav.navbar-default
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{type: "button", "data-toggle" => "collapse", "data-target" => "#main-navbar-collapse"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

          %a.navbar-brand.visible-xs-inline{href: "/", style: "width: 100%; max-width: 300px;"}
            .logo-text.fittext
              Game Wrap

        .collapse.navbar-collapse#main-navbar-collapse
          %ul.nav.navbar-nav
            = navbar_item "Home", "/"
            = navbar_item "Submissions", "/submissions/"
            = navbar_item "Ideas", "/ideas/"
            = navbar_item "About Us", "/about/"
            %li.dropdown
              %a.dropdown-toggle{href: "#", role: "button", "data-toggle" => "dropdown", "aria-haspopup" => true, "aria-expanded" => false}
                Volumes
                %span.caret
              %ul.dropdown-menu
                = navbar_item "Volume 1", "/vol1"
                = navbar_item "Volume 2", "/vol2"
                = navbar_item "Volume 3", "/vol3"

    .container
      = yield
